<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Data</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Field 1</th>
                    <th>Field 2</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="data : ${dataList}">
                    <td th:text="${data.field1}"></td>
                    <td th:text="${data.field2}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
